<!-- TOP BAR SECTION -->
<div class="container-fluid top-bar">
	<div class="container">
    	<div class="row">
        	
            <div class="col-md-6">
				<nav class="top-social-icons">
					<a href="{{icon.url}}" class="top-icons" *ngFor="let icon of socialIcons"><i class="icon" [ngClass]="icon.iconClass"></i></a>
				</nav>
            </div>
            
            <div class="col-md-6">
            	<nav class="top-other-icons pull-right">
                    <a href="{{icon.url}}" class="top-icons" *ngFor="let icon of userIcons"><i class="icon" [ngClass]="icon.iconClass"></i></a>
                </nav>
            </div>
            
        </div>
    </div>
</div>
<!--ENDOF TOP BAR SECTION -->