<div class="container-fluid">
    <div class="row" style="margin-top:11%;">
        <div class="panel panel-default panel-box">
            <div class="panel-body" style="padding:0">
                <div class="col-md-6 side-logo">
                    Hi
                </div>
                <div class="col-md-6 login-page">
                    <form class="form-horizontal">
                        <div class="form-group top-gap">
                            <i class="glyphicon glyphicon-user col-md-1 col-sm-1 col-lg-1 col-xs-1 user-icon"></i>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-10">
                                <input type="email" class="form-control user-input" id="inputEmail3" placeholder="Email" style="font-weight:700;">
                            </div>
                        </div>
                        <div class="form-group top-gap">
                            <i class="glyphicon glyphicon-envelope col-md-1 col-sm-1 col-lg-1 col-xs-1 user-icon"></i>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-10">
                                <input type="password" class="form-control user-input" id="inputPassword3" placeholder="Password" style="font-weight:700;">
                            </div>
                        </div>
                        <div class="form-group top-gap">
                            <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 col-lg-offset-4 col-lg-4">
                                <a><h4 class="forgot">Forgot Password</h4></a>
                            </div>
                        </div>
                        <div class="form-group top-gap">
                            <i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-info-sign col-sm-1 col-md-1 col-xs-1 col-lg-1 info-icon"></i>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" style="height:300px">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-offset-4 col-sm-2 col-xs-offset-4 col-xs-2 col-lg-offset-4 col-lg-2 col-md-offset-4 col-md-2" >
                                <button type="submit" class="btn btn-default round-button">
                                       <i class="glyphicon glyphicon-arrow-right" style="font-size:23px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
