<!-- NAVIGATION SECTION -->
<div class="container-fluid top-navigation radial-center">
	<div class="container">
    	<div class="row">
			<!-- NAV CATEGORIES SECTION -->
			<div class="col-md-3 dropdown open">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="menu-icon"><i class="icon icon-align-justify"></i></span>
					ALL CATEGORIES
					<span class="down-icon"><i class="icon icon-chevron-down-circle"></i></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#"><span class="category-icon"><i class="icon icon-screen-desktop"></i></span>Electronics</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-laptop"></i></span>Smartphones &amp; Tablets</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-hospital-square"></i></span>Health &amp; Beauty</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-gamepad"></i></span>Sports &amp; Outdoors</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-camera"></i></span>Furniture</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-camera"></i></span>Automotive &amp; Motorcycle</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-camera"></i></span>Jewellery &amp; Watches</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-lightbulb"></i></span>Flashlights &amp; Lamps</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-briefcase-case"></i></span>Bags, Shoes &amp; Accessories</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-camera"></i></span>Cameras &amp; Photos</a></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-present-gift"></i></span>Holiday Supplies &amp; Gifts</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#"><span class="category-icon"><i class="icon icon-present-gift"></i></span>More Categories</a></li>
				</ul>
			</div>
			<!-- END OF NAV CATEGORIES SECTION -->

			<div class="col-md-9 navigation">
				<ul class="nav nav-pills">
					<li><a href="#">Home</a></li>
					<li><a href="#">Deals</a></li>
					<li><a href="#">New Arrivals</a></li>
					<li><a href="#">Men</a></li>
					<li><a href="#">Woman</a></li>
					<li><a href="#">Baby &amp; Kids</a></li>
					<li><a href="#">Home &amp; Furnishing</a></li>

				</ul>
			</div>
    	</div>
    </div>
</div>
<!-- END OF NAVIGATION SECTION -->